{$AIVERO_PUBLIC_ORIGIN} {
    request_body {
        max_size 42MB
    }
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy same-origin
        X-Frame-Options DENY
    }
    reverse_proxy api:7801 {
        flush_interval -1
        transport http {
            dial_timeout 5s
            response_header_timeout 130s
        }
    }
}
